.share_box {
    width: 100%;
}
.share_button {
    background: url(../img/login_button.png) no-repeat transparent;
    width: 36px;
    height: 36px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -mozbox-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.share_button:hover {
    opacity: 0.9;
}
/*.share_icon_fav{
    background-position: 0px 0px;
}
.share_icon_copy{
    background-position: 0px -30px;
}
.share_icon_douban{
    background-position: 0px -60px;
}*/
.share_icon_email, .share_icon_qqemail{
    background: url(../img/qqemail.svg) no-repeat center #0075C7;
    background-size: 110%;
}
.share_icon_facebook{
    background: url(../img/facebook.svg) no-repeat center #3B5998;
    background-size: 36px;
}
/*.share_icon_baidu{
    background-position: 0px -150px;
}
.share_icon_gmail{
    background-position: 0px -180px;
}*/
.share_icon_google{
    background: url(../img/googletranslate.svg) no-repeat center #4F8BF5;
    background-size: 120%;
}
/*.share_icon_trans{
    background-position: 0px -240px;
}
.share_icon_kaixin{
    background-position: 0px -270px;
}
.share_icon_pengyou{
    background-position: 0px -300px;
}*/
.share_icon_qq, .share_icon_qqchat{
    background: url(../img/qq.svg) no-repeat center #5194D0;
    background-size: 110%;
}
.share_icon_qqt,.share_icon_qqweibo{
    background: url(../img/qqweibo.svg) no-repeat center #38A6D7;
    background-size: 110%;
}
.share_icon_qzone,.share_icon_qqzone{
    background: url(../img/qzone.svg) no-repeat center #FFCE00;
    background-size: 110%;
}
.share_icon_renren{
    background: url(../img/renren.svg) no-repeat center #005EAC;
    background-size: 110%;
}
/*.share_icon_tianya{
    background-position: 0px -450px;
}*/
.share_icon_twitter{
    background: url(../img/twitter.svg) no-repeat center #1DA1F2;
    background-size: 110%;
}
.share_icon_weibo{
    background: url(../img/sinaweibo.svg) no-repeat center #E6162D;
    background-size: 110%;
}
.share_icon_weixin, .share_icon_wechat/*, .login_icon_wechat*/{
    background: url(../img/wechat.svg) no-repeat center #7BB32E;
    background-size: 110%;
}
.share_icon_youdao{
    background: url(../img/youdao.svg) no-repeat center #49C0FB;
    background-size: 110%;
}
/*
.share_icon_rss{
    background-position: 0px -600px;
}
.share_icon_rss_comment{
    background-position: 0px -630px;
}
.share_icon_language_zh_CN{
    background-position: 0px -660px;
}
.share_icon_language_en_US{
    background-position: 0px -690px;
}
.share_icon_language_zh_HK{
    background-position: 0px -720px;
}
.share_icon_sitemap{
    background-position: 0px -750px;
}
.share_icon_wordpress{
    background-position: 0px -780px;
}
.share_icon_chrome{
    background-position: 0px -810px;
}*/